body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white; 
}

/* nav */

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #282c34;
    font-size: 20px;
    padding-inline: 2rem;
}

.navButton{
    text-decoration: none;
    color: lightgray;
    padding: 1rem;
    font-weight: bold;
}

.leftNav{
    padding: 1rem;
    padding-left: 10%;
}

.rightNav{
    padding: 1rem;
    padding-right: 10%;
}

.backGround{
    position: relative;
    text-align: center;
    color: white;    
    width: 100%;
}



/* containers */

.searchbarContainer{  
    background-color: #282c34;    
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;    
    min-height: 5rem;
    opacity: 70%;
    padding-block: 2rem;
}

.mapContainer{
    display: flex;
    justify-content: center;    
    left: 50%;    
    background-color: #3f48cc;    
    width: 50%;
    margin-bottom: 2rem;
    
}



.mapHeader{
    padding: 1rem;
    margin-inline: auto;
    width: calc(50% - 2rem);
    margin-top: 2rem;
}

.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    
}


.searchBar{
    text-align: center;    
    font-size: 20px;
    font-weight: bold;
}

.input{
    width: 50%;
    font-size: 20px;
    margin-top: 1rem;       
}

.heading{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/*interactive */

#active{
    color: #87ce0c;
}

.icon{
    text-decoration: none;
    color: white;    
}

.icon:hover{
    color: #87ce0c;
}

.blackBackground{
    background-color: #282c34;
}

/* images */

.map{
    padding-bottom: 3rem;
    padding-top: 3rem;    
    left: 50%;
}

.headerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}